<div class="d-flex flex-column p-3 w-25 h-100 overflow-hidden text-light" *ngIf="album.image"
[style]="'background-image:' + 
            (isAdmin() ? 
            ' linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 45%, rgba(0,0,0,1) 80%)' : 
            ' linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 90%)')
            +', url('+ getAlbumImageURL() + ');' + 
         'background-size: cover;'+
         'background-position: center;'">
    <button class="btn btn-link text-decoration-none text-light text-start m-0 p-0" (click)="back()">
        <h1>
            <i class="bi bi-chevron-double-left m-0 p-0"></i>
        </h1>
    </button>
    
    <h2>Album: {{ album.title }}</h2>
    <h3>Artista: {{ artist.name }}</h3>
    <span class="mt-3 fs-6">{{ album.year }}</span>
    

    
      <div class="d-flex flex-column justify-content-end mt-auto h-25" *ngIf="isAdmin()">
        <button class="btn btn-primary mt-2" [routerLink]="['/editar-album', album._id]" *ngIf="!isDeleting">
            <i class="bi bi-pencil fst-normal">  Editar</i>
        </button>
        <button class="btn btn-outline-danger my-2" (click)="delete()" *ngIf="!isDeleting">
            <i class="bi bi-x-circle fst-normal">  Eliminar</i>
        </button>
        <div class="d-flex flex-column justify-content-end align-items-center h-100 w-100" *ngIf="isDeleting">
            <span>¿Estas seguro?</span>
            <div>
                <button class="btn btn-link text-decoration-none text-success" (click)="deleteAlbum()">
                    <i class="bi bi-check-circle fs-1"></i>
                </button>
                <button class="btn btn-link text-decoration-none text-danger" (click)="cancelDelete()">
                    <i class="bi bi-x-circle fs-1"></i>
                </button>  
            </div>
        </div>
    </div> 

</div>
<div class="w-75 h-100 p-4 bg-light">
    <div class="d-flex flex-column h-100 w-100 p-3 rounded-3 shadow bg-white">
        <h1>Canciones</h1>
        <div class="flex-grow-1">
            <!--div class="d-flex w-100 h-100">
                <button class="btn h-100 flex-grow-0" [class.hidden]="songsToList.length == 0 || currentPage == prevPage" (click)="goToPage(prevPage)">
                    <i class="bi bi-chevron-double-left"></i>
                </button>
                <div class="d-flex flex-column w-100 h-100">
                    <div class="d-flex m-2 p-2 bg-dark bg-gradient rounded-3 text-light" 
                         *ngFor="let song of songsToList; let i = index" 
                         [style]="'max-height: '+(100/itemsPerPage)+'%;'+
                                  'height: '+(100/itemsPerPage)+'%;'">
                            <div class="d-flex flex-column justify-content-start align-content-start flex-grow-1 ps-2">
                                <h2>{{ album.title }}</h2>
                                <span>{{ album.description }}</span>
                                <span class="mt-3 fs-6">{{ album.year }}</span>
                                <button class="btn btn-outline-info align-self-start mt-auto" [routerLink]="['/album', album._id]">Ver más</button>
                            </div>
                            <div style="aspect-ratio: 1;" *ngIf="isAdmin()">
                                <div class="d-flex flex-column justify-content-center align-items-end h-100 w-100" *ngIf="!isDeletingAlbum[i]">
                                    <button class="btn btn-link text-decoration-none text-warning" [routerLink]="['/editar-album', album._id]">
                                        <i class="bi bi-pencil-square fs-1"></i>
                                    </button>
                                    <button class="btn btn-link text-decoration-none text-danger" (click)="deleteAlbum(i)">
                                        <i class="bi bi-x-circle fs-1"></i>
                                    </button>
                                </div>
                                <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100 bg-black bg-gradient rounded-3" *ngIf="isDeletingAlbum[i]">
                                    <span>¿Estas seguro?</span>
                                    <div>
                                        <button class="btn btn-link text-decoration-none text-success" (click)="confirmDeleteAlbum(album._id)">
                                            <i class="bi bi-check-circle fs-1"></i>
                                        </button>
                                        <button class="btn btn-link text-decoration-none text-danger" (click)="cancelDeleteAlbum(i)">
                                            <i class="bi bi-x-circle fs-1"></i>
                                        </button>  
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center flex-grow-1 p-2 m-2 bg-secondary bg-gradient rounded-3 text-light" 
                        *ngIf="songsToList.length < itemsPerPage" style="opacity: 0.5;">
                        <h1>No hay nada más que mostrar</h1>
                    </div>
                </div>
                <button class="btn h-100 flex-grow-0"  [class.hidden]="songsToList.length == 0 || currentPage == nextPage" (click)="goToPage(nextPage)">
                    <i class="bi bi-chevron-double-right"></i>
                </button>
            </div-->
        </div>
        <div *ngIf="errorText" class="alert alert-danger w-100 mt-3" role="alert">
            {{ errorText }}
        </div>
        <button class="btn btn-outline-success w-100 align-self-center" *ngIf="isAdmin()" [routerLink]="['/crear-cancion', artist._id]">
            <i class="bi bi-plus-circle w-100 h-100">  Añadir canción</i>
        </button>
    </div>
</div>