<div class="d-flex flex-column p-3 w-25 h-100 overflow-hidden text-light" *ngIf="originalArtist.image"
[style]="'background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 90%)'
            +', url('+ getArtistImageURL() + ');' + 
         'background-size: cover;'+
         'background-position: center;'">
    <button class="btn btn-link text-decoration-none text-light text-start m-0 p-0" (click)="back()">
        <h1>
            <i class="bi bi-chevron-double-left m-0 p-0"></i>
        </h1>
    </button>
    <h1>Artista:</h1>
    <h2>{{ originalArtist.name }}</h2>
    <span>{{ originalArtist.description }}</span>
</div>

<div class="w-75 h-100 p-4 bg-light">
    <form class="d-flex flex-column h-100 w-100 p-3 rounded-3 shadow bg-white" #updateArtistForm="ngForm" (submit)="updateArtistForm.valid && onSubmit()">
            <h1>Editar artista</h1>
            
            <label class="form-label mt-3" for="artistName">Nombre: </label>
            <input class="form-control" type="text" name="artistName" id="artistName" #artistName="ngModel" [(ngModel)] = "updateArtist.name" required>
            <span class="w-100 text-danger fs-6" *ngIf="!artistName.valid">Ingrese el nombre del artista</span>
            <br>

            <label class="form-label mt-3" for="artistDescription">Descripción: </label>
            <input class="form-control" type="text" name="artistDescription" id="artistDescription" #artistDescription="ngModel" [(ngModel)] = "updateArtist.description" required>
            <span class="w-100 text-danger fs-6" *ngIf="!artistDescription.valid">Ingrese una descripción del artista</span>
            <br>
            
            <label class="form-label mt-3" for="artistImage">Imagen: </label>

            <input #artistImage="ngModel" class="form-control" type="file" accept="image/png,image/jpg,image/gif" name="artistImage" id="artistImage" (change)="onFileChanged($event)" [(ngModel)] = "fakeFilePath">
            <span class="w-100 text-danger fs-6" *ngIf="!artistImage.valid">Seleccione una imagen</span>
            <br>
            <div class="d-flex flex-column justify-content-center align-items-center my-3 w-100" *ngIf="imageSrc">
                <img [src]="imageSrc" alt="Imagen de perfil actual" class="w-auto mx-auto" style="height: 250px;">
                <button class="btn btn-danger mt-3" (click)="cancelImage()">Cancelar</button>
            </div>

            <button type="submit" [class.disabled]="!updateArtistForm.valid || !dataChanged()" class="btn btn-primary mt-auto w-100">Guardar</button>
    </form> 
    <div *ngIf="errorText" class="alert alert-danger w-75 mt-3" role="alert">
        {{ errorText }}
    </div>
</div>